
body {
margin: 0;
padding: 0;
}
h1 {
margin: 5px 0 30px 0;
}

h2 {
margin: 40px 0 5px 0;
}

p{
	margin: 0 0 5px 0;
}

#radiusTB{
	margin: 0 0 10px 0;
}

#colorTable {
	position:absolute;
	bottom:0;
	top:0;
	margin: 5px;
}

#map {
	height: 100%;
	width: 75%;
	position:absolute;
	bottom:0;
	top:0;
	margin: 5px;
}

#panel {
	height: 100%;
	width: 20%;
	margin: 5px;
	float: right;
}

.btn{
	background-color:#768d87;
	border-radius:5px;
	border:1px solid #566963;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:11px 23px;
	text-decoration:none;
	text-shadow:0px -1px 0px #2b665e;
}
.btn:hover {
	background-color:#6c7c7c;
}
.btn:active {
	position:relative;
	top:1px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 52px;
  height: 24px;
}

.switch input {display:none;}


.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}


.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

#colorTable{
	visibility: hidden;

}